@import '../../../styles/theming/theming';
@import '../../../styles/typography/typography-utils';


@mixin rbx-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .rbx-button {
    &[disabled] {
      opacity: 0.5;
    }
  }

  .rbx-button--primary {
    background-color: rbx-color($accent, default);
    color: rbx-color($accent, default-contrast);

    &:hover:not([disabled]) {
      background-color: rbx-color($accent, darker);
      color: rbx-color($accent, darker-contrast);
    }
  }

  .rbx-button--secondary {
    background-color: rbx-color($primary, default);
    color: rbx-color($primary, default-contrast);

    &:hover:not([disabled]) {
      background-color: rbx-color($primary, darker);
      color: rbx-color($primary, darker-contrast);
    }
  }
}

@mixin rbx-button-typography($typography) {
  .rbx-button--primary {
    font-family: rbx-font-family($typography, button-2);
    font-size: rbx-font-size($typography, button-2);
    font-weight: rbx-font-weight($typography, button-2);
  }

  .rbx-button--secondary {
    font-family: rbx-font-family($typography, button-1);
    font-size: rbx-font-size($typography, button-1);
    font-weight: rbx-font-weight($typography, button-1);
  }
}
