.rbx-button {
  padding-right: 15px;
  padding-left: 15px;
  border: black solid 1px;
  margin: 10px;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.rbx-button--primary {
  padding-top: .95em;
  padding-bottom: .95em;
}

.rbx-button--secondary {
  padding-top: .6em;
  padding-bottom: .6em;
}
